*{
    padding:0px;
    margin:0px;
}
a{
    text-decoration: none;
    color:inherit;
}
#header{
    background-image: linear-gradient(90deg,hsl(197, 100%, 50%),hsl(197, 100%, 80%));
    font-size:3em;
    padding: 10px;
}
#about-div{
    background-color:rgb(22, 80, 255);
    color: aliceblue;
    padding: 5px;
}
#skills-div{
    background-color:rgb(180, 255, 251);
}
#about-div>p{
    font-size: 30px;
}
#footer{
    background-color:rgb(1, 0, 87);
    color: aliceblue;
}
#footer table tr td{
    padding: 7px;
}
#about-div>span p + img{
    margin:20px;
}
#about-div span{
    display: flex;;
}
#skills-div ul{
    display:flex;
}
#skills-div ul li{
    padding:10px;
    list-style: none;
    border: 2px outset;
    flex:1;
    margin:20px;
    text-align: center;
    background-color: rgb(22, 80, 255);
    flex-wrap: wrap;
}
